/* Start of Variables */
:root {
  --main-color: #10cab7;
  --secondary-color: #2c4755;
}
/* End of Variables */

/* Start Global Rules */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
font-family: "Work Sans" , sans-serif;
}

p {
  line-height: 1.5;
}

html {
  scroll-behavior: smooth;
  font-size: 16px; /* الأساس اللي بيتبني عليه الـ rem */
}

a {
  text-decoration: none; /* يشيل الخط اللي تحت اللينكات */
  /* color: inherit; يخلي لون اللينك زي النص */
}

ul, ol {
  list-style: none; /* يشيل النقاط أو الأرقام الافتراضية */
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* End Global Rules */

/* Start Components */
.special-heading {
  color: #ebeced;
  font-size: 100px;
  text-align: center;
  font-weight: 800;
  letter-spacing: -3px;
}
.special-heading + p {
  margin: -30px 0 0;
  font-size: 20px;
  text-align: center;
  color: #797979;
}
/* End Components */

/* Start Header */
.header {
  padding: 20px;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo {
  width: 60px;
}
.header .links {
  position: relative;
}
.header .links:hover .icon span:nth-child(2) {
  width: 100%;
}
.header .links .icon {
  width: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.header .links .icon span {
  background-color: #333;
  margin-bottom: 5px;
  height: 2px;
}
.header .links .icon span:first-child {
  width: 100%;
}
.header .links .icon span:nth-child(2) {
  width: 60%;
  transition-duration: 0.3s;
}
.header .links .icon span:last-child {
  width: 100%;
}
.header .links ul{
  margin: 0;
  padding: 0;
  background-color: #f6f6f6;
  position: absolute;
  right: 0;
  min-width: 200px;
  top: calc(100% + 15px);
  display: none;
  z-index: 1;
}
.header .links ul::before{
  content: "";
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #f6f6f6 transparent;
  position: absolute;
  right: 5px;
  top: -20px;
}
.header .links:hover ul {
  display: block;
}
.header .links ul li a {
  display: block;
  padding: 15px;
  color: #333;
  transition-duration: 0.3s;
}
.header .links ul li a:hover {
  padding-left: 25px;
}
.header .links ul li:not(:last-child) a{
  border-bottom: 1px solid #ddd;
}
/* End Header */

/* Start Landing Section */
.landing {
  height: calc(100vh - 64px);
  background-image: url(../images/landing.jpg);
  background-size: cover;
  position: relative;
}
.landing .intro-text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 320px;
  max-width: 90%;
}
.landing .intro-text h1 {
  font-size: 50px;
  color: var(--main-color);
  font-weight: bold;
}
.landing .intro-text p {
  font-size: 19px;
  line-height: 1.8;
  margin: 20px 0;
}
section:not(.landing , .header) {
  padding-top: 60px;
  padding-bottom: 60px;
}
/* End Landing Section */

/* Start Features */
.features {
  background-color: #f6f6f6;
}
.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}
.features .container .feat {
  padding: 20px;
  text-align: center;
}
.features .container .feat i {
  color: var(--main-color);
  }
.features .feat h3 {
  font-weight: 800;
  margin: 30px 0;
}
.features .feat p {
  line-height: 1.8;
  color: #777;
  font-size: 17px;
}
/* End Features */

/* Start Services */
.services {
  background-color: white;
}
.services .services-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;
  margin-top: 100px;
}
.services .services-content .srv {
  display: flex;
  margin-bottom: 40px;
}
.services .services-content .srv i {
  color: var(--main-color);
  flex-basis: 60px;
}
.services .services-content .srv .text {
  flex: 1;
}
.services .services-content .srv .text h3 {
  margin-bottom: 20px;
}
.services .services-content .srv .text p {
  color: #444;
  font-weight: 300;
  line-height: 1.6;
}
.services .services-content .col:last-child {
  text-align: center;
  position: relative;
  line-height: 0;
}
.services .services-content .col:last-child::before {
  content: "";
  background-color: var(--secondary-color);
  width: 100px;
  height: calc(100% + 100px);
  position: absolute;
  right: 0;
  top: -50px;
}
.services .services-content .col:last-child img {
  width: 260px;
  height: 100%;
  position: absolute;
  right: 50px;
}
/* End Services */



/* Small */
@media (max-width: 767px) {
  .special-heading {
    font-size: 60px;
  }
  .special-heading + p {
    margin-top: -20px;
  }
  .services .services-content .srv {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
}

@media (max-width: 1200px) {
  .services .services-content .col:last-child {
    display: none;
  }
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* Hi */